.scroll-body {
    z-index: 100;
    padding-bottom: 80px;
}
.cell-title {
    color: #09bb07 !important;
}
.large-btn {
    margin-top: 8px;
    width: 94% !important;
}
.select-list {
    width: 98px !important;
}
.select-form {
    padding: 0px !important;
}
.search-btn {
    padding: 0 .5rem 0 .5rem !important;
}