.scroll-body {
    z-index: 100;
    padding-bottom: 80px;
}
.cell-title {
    color: #09bb07 !important;
}
.large-btn {
    margin-top: 8px;
    width: 94% !important;
}
.right-mini-btn {
    float: right;
}
.remain-num {
    float: left;
    margin-top: 4px;
}
.margin-form {
    margin-top: 50px !important;
}
.select-list {
    width: 98px !important;
}
.select-form {
    padding: 0px !important;
}
.search-btn {
    padding: 0 .5rem 0 .5rem !important;
}
.book-name {
    font-size: .5rem;
}
.book-info {
    font-size: .5rem;
}
.book-num {
    color: #09bb07!important;
    font-size: .8rem;
}
.rich-checkbox {
    padding: 5px 15px !important;
}
.important-p {
    color: #f50 !important;
}