.scroll-body {
    z-index: 100;
    padding-bottom: 80px;
}
.cell-title {
    color: #09bb07 !important;
}
.select-list {
    width: 98px !important;
}
.select-form {
    padding: 0px !important;
}
.search-btn {
    padding: 0 .5rem 0 .5rem !important;
}
.book-name {
    font-size: .8rem;
}
.book-info {
    font-size: .8rem;
}
.book-num {
    color: #09bb07!important;
    font-size: .8rem;
}
.rich-cell {
    padding: 5px 15px !important;
}
.full-cell {
    margin-top: 0 !important;
}
.gray-badge {
    background-color: #a09897 !important;
}
.blue-badge {
    background-color: #10aeff !important;
}
.red-badge {
    background-color: #f37161 !important;
}
.green-badge {
    background-color: #3cc51f !important;
}