.scroll-body {
    z-index: 100;
    padding-bottom: 80px;
}
.cell-title {
    color: #09bb07 !important;
}
.select-list {
    width: 98px !important;
}
.select-form {
    padding: 0px !important;
}
.search-btn {
    padding: 0 .5rem 0 .5rem !important;
}
.book-name {
    font-size: .5rem;
}
.book-info {
    font-size: .5rem;
}
.book-num {
    color: #09bb07!important;
    font-size: .8rem;
}
.rich-checkbox {
    padding: 5px 15px !important;
}